BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -2
ReflowComments: false

BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterNamespace: false
